*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}

body, #app{
  width: 100vw;
  height: 100vh;
}
